/**
 * The Christian Crew Base SCSS
 * Version: 3.1.0
 */
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif, arial;
  font-size: 16px;
}

.inner-wrap {
  margin: 0 auto;
  max-width: $width-lg;
}

a:link,
a:visited {
  color: $primary-color-light;
  text-decoration: none;
}

a:hover {
  color: $primary-color;
}

/**
 * Titles
 */


/**
 * Alignment
 */
 img.alignright  { float: right; margin: 0 0 1em 1em; }
 img.alignleft   { float: left; margin: 0 1em 1em 0; }
 img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
 .aligncenter    { text-align: center; }

/**
 * Buttons
 */
.btn {
  color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $primary-color;
    color: #ffffff;
  }

}

/**
 * Images
 */
img {
}

/**
 * Typography
 */
p {
  line-height: 1.5;
}
