/**
 * Configuration variables
 */
$primary-color:          #336699;
$primary-color-light:    #993399;
$primary-color-lightest: #ffccff;
$primary-color-dark:     #330033;

$spacing: 40px;

$width-lg: 1024px;
$width-md: 768px;
$width-sm: 512px;
$width-xm: 375px;
