/**
 * Import CSS libraries
 */
@import url('assets/css/k.css');

/**
 * Main Layout Structure
 */
body {
	background-color: #404040;
	color: #ffffff;
}

.inner-wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.page-title {
	background-color: #336699;
	margin-top: 60px;
	padding: 20px 0;
}

	.page-title h2 {
		margin: 0;
	}

.container {
	padding: 20px 0;
}

/**
 * Header
 */
#site-header {
	background-color: #202020;
	height: 60px;
	line-height: 60px;
	position: fixed;
		top: 0;
	width: 100%;
}

	#site-logo {
		color: #ffffff;
		font-size: 1.8rem;
		text-decoration: none;
	}

	#site-nav {
		float: right;
	}
		
		#site-nav li {
			float: left;
			list-style: none;
		}
		
			#site-nav li a {
				color: #808080;
				display: block;
				font-size: 0.9rem;
				padding: 0 20px;
				text-decoration: none;
				text-transform: uppercase;
			}
			
			#site-nav li a:hover {
				color: #ffffff;
			}
			
			#site-nav li.current-menu-item a {
				background-color: #336699;
				color: #ffffff;
			}