/**
 * Configuration variables
 */
$primary-color:          #336699;
$primary-color-light:    #993399;
$primary-color-lightest: #ffccff;
$primary-color-dark:     #330033;

$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 512px;
$screen-xs: 375px;
