/**
 * Configuration variables
 */
$color-white:      #ffffff;
$color-black:      #000000;
$color-mine-shaft: #202020;
$color-emperor:    #505050;
$color-torch-red:  #FF1433;
$color-tree-poppy: #FF9E1A;

$header-background: $color-white;
$header-height: 50px;

$body-background:      $color-mine-shaft;
$container-background: $color-emperor;

$spacing: 40px;

$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 512px;
$screen-xs: 375px;
