.container {
  background-color: $container-background;
  padding-bottom: 20px;
  &.bg-white {
    background-color: $color-white;
    color: $color-black;
    h2 {
      color: $color-torch-red;
    }
  }
}
