.home .page-wrap {
    margin-top: 18%;
}

/**
 * Home Intro
 */
.home-intro {
  margin-bottom: 20px;
  text-align: right;
  h2 {
    font-size: 1.5rem;
    line-height: 1;
  }
  p {
    font-weight: 400;
    font-size: 1.2rem;
  }
}

/**
 * Announcements
 */
.announcement {
  width: 100%;
  height: 82px;
  background-color: $color-torch-red;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
  a {
    display: block;
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $color-white;
    transform: translateY(100%);
    transition: transform .35s ease-out;
    span {
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: $color-red;
      font-weight: 700;
      font-size: .9rem;
      text-transform: uppercase;
      transition: opacity .35s ease-out;
    }
  }
  &:hover .overlay {
    transform: translateY(0);
  }
  h3 {
    margin: 0;
    padding: 5px 10px;
    font-size: 1rem;
    transform: translateY(calc(-100%));
    transition: transform .35s ease-out;
  }
  &:hover h3 {
    transform: translateY(0);
  }
  p {
    padding: 0 10px;
    margin-top: -5px;
  }
  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .35s ease-out;
  }
  &:hover:before {
    background-color: rgba(0, 0, 0, .8);
  }
}

/**
 * Division lists
 */
.divisions_list {
  line-height: 1;

  a {
    display: block;
    text-decoration: none;
    color: $color-red;
    text-transform: uppercase;

    span {
      display: block;
      padding-left: 5px;
      padding-bottom: 5px;
    }

    &:hover {
      background-color: $color-mine-shaft-dark;
      color: $color-white;
    }

  }
}

.page-template-page-divisions .divisions_list {
  a {
    background-color: $color-white;
    &:hover {
      background-color: $color-red;
      color: $color-white;
    }
  }
}

.division-links {
  margin: 0 0 20px 0;

  li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    @include bp(sm) {
      display: block;
    }

    a {
      font-weight: 600;
      color: $color-white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.division_info {
  background-color: $color-white;
  color: $color-black;
  padding: 5px;
}

/**
 * phpBB list members
 */
.phpbb-list-members {
  margin: 0;
  li {
    list-style: none;
    a {
      display: block;
      background-color: $color-white;
      text-decoration: none;
      position: relative;
      padding: 5px 5px 5px 60px;
      img {
        position: absolute;
        left: 5px;
      }
      .username {
        display: block;
        font-weight: 700;
        color: $color-black;
      }
      .rank {
        font-weight: 600;
        color: $color-emperor;
      }
    }
  }
}

/**
 * phpBB list topics
 */
.phpbb_list_topics {
  a {
    display: block;
    color: $color-white;
    text-decoration: none;
    .topic_title {
      font-weight: 700;
    }
    &:hover .topic_title {
      text-decoration: underline;
    }
    span {
      display: block;
    }
  }
}
