/**
 * Home page specific styles
 */
.home-intro {
	margin-top: 160px;
	@include clearfix;
	.home-intro-inner {
		max-width: 500px;
		float: right;
	}
	h2 {
		text-align: right;
		@include bp(sm) { font-size: 1.1rem; }
	}
	p {
		text-align: right;
		font-weight: bold;
		font-size: 1.2rem;
		@include bp(sm) { font-size: .9rem; }
	}
}

.home-container {
	background-color: $color-white;
	color: $color-black;
	margin-top: ($spacing/2);
}
