#scene {
	margin: 0;
	padding: 0;
	position: absolute;
		top: 0; left: 0;
	z-index: 0;
	//overflow: hidden;
	li {
		width: 100%;
		height: 100%;
	}
}

.scene-home .background {
	background-image: url(assets/img/scene-home/home_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	width: 110%;
	height: 110%;
	position: absolute;
		top: -5%;
		left: -5%;
}

#scene.scene-home li div {
	background-repeat: no-repeat;
	position: absolute;
	transition: background-size .2s;
}

#scene.scene-home li .mission_bg {
	background-image: url(assets/img/scene-home/home_parallax_mission_bg.png);
	width: 820px;
	height: 494px;
	top: 250px;
	left: 50%;
	margin-left: -190px;
	//@include bp(lg) { background-size: 380px auto; }
}

#scene.scene-home li .lol_guy {
	background-image: url(assets/img/scene-home/home_parallax_lol_guy.png);
	width: 391px;
	height: 578px;
	top: 50px;
	left: 50%;
	margin-left: 220px;
}

#scene.scene-home li .lol_girl {
	background-image: url(assets/img/scene-home/home_parallax_lol_girl.png);
	width: 521px;
	height: 394px;
	top: 60px;
	left: 50%;
	margin-left: 0;
}

#scene.scene-home li .tf2_pryo {
	background-image: url(assets/img/scene-home/home_parallax_tf2_pyro.png);
	width: 522px;
	height: 454px;
	top: 100px;
	left: 50%;
	margin-left: -310px;
}

#scene.scene-home li .rl_car {
	background-image: url(assets/img/scene-home/home_parallax_rl_car.png);
	width: 499px;
	height: 318px;
	top: 200px;
	left: 50%;
	margin-left: -520px;
}

#scene.scene-home li .rl_ball {
	background-image: url(assets/img/scene-home/home_parallax_rl_ball.png);
	width: 391px;
	height: 165px;
	top: 110px;
	left: 50%;
	margin-left: -600px;
}
